@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: white;
}

button{
    border-radius: 5px;
    border: transparent;
    background-color: lightgray;
    font-weight: bold;
    color: white;
    padding: 5px;
}

label{
    padding-left: 4px;
    color: grey;
    font-size: 14px;
}

button:hover{
    border: 1px solid grey;
}

input{
    margin: 2px;
    border: 0.5px solid lightgray;
    border-radius: 3px;
}

.contentDiv{
    margin: 0 auto;
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: black;
    padding: 25px;
}

.divHeader{
    color:lightgray;
    text-align: center;
}

.divContent{
    display: grid;
    padding: 5px;
    align-content: center;
}

.divBtn{
    width:100%;
    margin: 0 auto;
    text-align: center;

}

.hiddenDiv{
    display: none;
}

#dateValue{
    margin: 2px auto;
}

#tempValue{
    margin: 2px auto;
}