@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: white;
}

button{
    border-radius: 1px;
    border: transparent;
    background-color: lightgray;
    font-weight: bold;
    color: white;
    padding: 5px;
}

button:hover{
    border: 1px solid grey;
}

input{
    margin: 1px;
    border: transparent;
    border-radius: 3px;
}

#loginDiv{
    position: absolute;
    top:30%;
    left: 40%;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: black;
    padding: 25px;
}

#divHeader{
    color:lightgray;
}

#divContent{
    display: grid;
    padding: 5px;
}

#divBtn{
    position: relative;
    left: 25%;
}

#dateValue{
    width: 150px;
    position: relative;
    left: 20%;
}

#tempValue{
    width:50px;
    position: relative;
    left:40%;
}